body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Abel', sans-serif;
  background-color: #f6f4f1;
  color:#37474f;
  font-size: 1.1em;
}
a
{
  color:#26a69a;

}
main
{
  flex: 1 0 auto;
}
strong
{
  font-weight: 600;
}
.returnHome
{

  margin-top: 7%;
}
.material-icons
{
  color:white;
}
.material-tooltip
{
  background-color: #26a69a;
}
.line
{
  margin: 5% 0 5% 0;
  border-bottom:1px dashed #26a69a;
}

/* NAV BAR */

nav ul a
{
  color:inherit;
}
.selected
{
  color:#37474f;
}

.brand-logo
{
  margin-left: 2%;
}
#nav-mobile
{
  margin-right: 2%;
}
nav .sidenav-trigger .material-icons
{
    color: #26a69a;
}

/* HOME */
#titleMain
{
  font-family: 'Amatic SC', cursive;

}
#chapters
{
  margin-top: 3%;
}
#chapters .material-icons,
{
  color: #26a69a;
}
.comment
{
  border-bottom:1px dashed #26a69a;
}
.commentCard
{
  font-size: 1.2em;
}
#sliderCom
{
  width: 50%;
  height: 300px;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 3%;
  position:relative;
}
.quote-left
{
  position:absolute;
  top:0%;
  left: 0%;
}
.quote-right
{
  position:absolute;
  bottom:0%;
  right: 0%;
}
#sliderCom .material-icons
{
  color:#37474f;
  font-size: 5em;
}
#sliderComment
{
  font-size: 1.1em;
  width: 80%;
  height: 40%;
  overflow: hidden;
  position:absolute;
  top:45%;
  left: 10%;

}
#sliderAuthor
{
  font-size: 2em;
  position:absolute;
  top:25%;
  left: 10%;

}
/* AUTHOR VIEW */
#authorContent
{
  margin-top: 3%;
}
#author
{
  font-size: 1.1em;
  text-align: justify;
}
/* CHAPTER VIEW */
.contentChapter,
#contentComment
{
  font-size: 1.1em;
}
.input-field label,
label,
label.active
{
  font-size: 1.5em;
}
#nextChapterButton
{
  margin-left: 36%;
}
/* ADMIN AUTH VIEW */
#authContent
{
border:1px solid #f6f4f1;
margin-top: 6.7%;
}


/* ADMIN AREA VIEW*/
table.hilight > tbody > tr:hover
{
  background-color: rgba(38, 166, 154, 0.2);
}
table.hilight > tbody > tr.report:hover
{
  background-color: rgba( 244, 67, 54, 0.2);

}
.modal-content{color:black;}
.report{color:red;}
.btn-report-com
{

    position: relative;
    background-color: #26a69a;
    color:white;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.btn-report-com > span
{
  position: absolute;
  top: 0%;
  left:38%;
}
.redButton{background-color: red !important;}
.title{margin-bottom: 6%;}
#comMod,
#chapMod
{
  margin-top: 5%;
}


#options{margin-bottom: 6%;}

/* NEW CHAPTER VIEW */
#tinyMce{height: 500px;}
/* ERROR VIEW*/
#errorContent
{
  margin-top: 7%;
  margin-bottom: 12%;
}
/* FOOTER */
.page-footer
{
  position: relative;
  bottom: 0;
  background-color: #f0edea;
}
.fab
{
  color:#26a69a;
  font-size: 1.5em;
}
