*
{
  margin:0px;
  font-family:'Merriweather', serif;
}
h2
{
  text-align: center;
  font-family: 'Playfair Display', serif;
}
/* ============ HOME ============ */
.image_title_header
{
  z-index: 1;
  position:relative;
  width: 100%;
}
.imgHeader
{
  width: 100%;
  border-bottom: 1px solid black;
}
.textHeader
{
  width: 675px;
  text-align: center;
  position: absolute;
  top: 8%;
  left: 50%;
  margin-left: -337px;
}
.titleMain
{
  font-size: 3em;
  font-family: 'Playfair Display', serif;
}
.introduction
{
  font-family: 'Playfair Display', serif;
  font-size: 1.5em;
}
/***** Block Home ******/
#blockHome
{
  border:2px solid green;
  display: flex;
  /* position: relative;
  top: -85px; */

}
#chapters
{
  position:relative;
  left: 0%;
  border:3px solid red;
  width: 75%;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}
#infos
{
  border:3px solid blue;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.chapter
{
  z-index: 2;
  padding: 1%;
  position: relative;
  border:1px solid black;
  margin: 1%;
  width: 300px;
  border-radius: 2%;
  box-shadow: 3px 3px 5px grey;
  background-color: white;
}
.chapter em
{
  font-size: 0.8em;
}
.chapter p
{

  text-align: justify;
  padding: 5%;
}
.chapter_link
{
  position:absolute;
  right: 5%;
}
#lastChapters
{
  margin-left: auto;
  margin-right: auto;
  margin-top: 17px;
}
#lastChapters h2,
#lastComments h2
{margin-top: 15px;}

.tableOfContent
{
  border:2px solid red;
}
#lastComments{margin: auto;}
#lastChapters,
#lastComments
{
  z-index: 2;
  border:1px solid black;
  width: 60%;
  height: 300px;
  border-radius: 2%;
  box-shadow: 3px 3px 5px grey;
  background-color: white;
  width: 300px;
}

/* ============ CHAPTER VIEW =========== */
#chapterViewTitle,
#commentTitle,
#postCommentTitle
{
  font-size: 2.5em;
  margin-bottom: 50px;
}
#postCommentTitle{margin-top: 30px;}
#contentChapter,
#contentComment,
form,
#comment,
#author,
#submit
{
  border: 1px solid black;
  box-shadow: 3px 3px 5px grey;
}
#contentChapter
{
  background: white;
  z-index: 2;
  position:relative;
  top:-47px;
  width: 50%;
  margin:auto;
  font-size: 1.2em;
  padding: 5%;
}
#nextChapter
{
  position:absolute;
  bottom:4%;
  right:4%;
  font-family: 'Playfair Display', serif;
}
#previousChapter
{
  position:absolute;
  bottom:4%;
  left:4%;
  font-family: 'Playfair Display', serif;
}
#contentComment
{
  width: 50%;
  margin:auto;
  height: 300px;

}
form
{
  text-align: center;
  width: 50%;
  margin:auto;

}
form label
{
  font-size: 1.8em;
  font-family: 'Playfair Display', serif;
}
textarea{font-family: 'Merriweather', serif;}
#author,
#comment
{
  margin-top: 25px;
  width: 80%;
  display: block;
  margin-left:auto;
  margin-right: auto;
  font-family: 'Merriweather', serif;
  font-size: 1.1em;
}
#author
{
  height: 50px;
}
#comment
{
  height: 300px;
}
#submit
{
  margin-top: 25px;
  margin-bottom: 25px;;
  font-family: 'Playfair Display', serif;
  font-size: 1.5em;
  border-radius: 5%;
}
.returnHome
{
  font-family: 'Playfair Display', serif;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 1.5em;
  text-align: center;
}
/* ============ ERROR VIEW =========== */
#contentError
{
  position:relative;
  top : -65px;
  background: white;
  z-index: 2;
  border : 1px solid black;
  width: 55%;
  padding: 4%;
  margin: auto;
}
#errorMsg
{
  text-align: center;
  font-size: 2em;
  width: 100%;
  margin-bottom: 70px;
}

/* ============ FOOTER =========== */
footer
{
  margin-top: 50px;
  border-top:1px solid black;
  height: 100px;
  width: 100%;
  display: flex;
}
.contact
{
  height: 100%;
  width: 80%;
  background: linear-gradient(to right, #3f647e, #7ca49c);
  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
}
.admin
{
  width: 20%;

}
